In [ ]:
#Que.1 Create one variable containing following type of data :
(1) string
(2) list
(3) float
(4) tuple

#Answer

In [ ]:
#(1) string
a = "PW Skills"

In [ ]:
#(2) list
l = [ 34,30.20,"ram",'PW Skills',True]

In [ ]:
#(3) float
b = 40.03

In [ ]:
#(4) tuple
courses = ("Data Science", "Machine Learning", "Python")

In [ ]:
#Que.2 Given are some following variables containing data:
(1) var1 =''
(2) var2 ='[DS,ML,Python]'
(3) var3 =['DS','ML','Python']
(4) var4 = 1.
What will be the data type of the above given variable.

In [ ]:
#Answer

In [ ]:
var1 =''

In [ ]:
print(type(var1))

In [ ]:
str

In [ ]:
var2 ='[DS,ML,Python]'

In [ ]:
print(type(var2))

In [ ]:
list

In [ ]:
var3 =['DS','ML','Python']

In [ ]:
print(type(var3))

In [ ]:
tuple

In [ ]:
var4= 1.

print(type(var4))

In [ ]:
int

In [ ]:
#Que.3 Explain the use of the following operators using an example :
(1) /
(2) %
(3) //
(4) **

In [ ]:
#Answer

In [ ]:
#1./ (Divison Operator)

In [ ]:
a = 10

In [ ]:
b = 3

In [ ]:
print(a / b)

In [ ]:
3.3333

In [ ]:
#2.% ( Modulus Operator)

In [ ]:
print(a % b)

In [ ]:
1

In [ ]:
#3.//(Floor Division Operator)

print(a // b)

3

In [ ]:
4.**(Exponent/Power Operator)

In [ ]:
print(a ** 2)

In [ ]:
100

In [ ]:
#Que.4 Create a list of length of your choice containing multiple types of data.
Using for loop print the element and its data type.

In [ ]:
#Answer

In [ ]:
 data = [10,20.5,"PW",True,False,(1,2),(5,6),{"a":1},None,46]

In [ ]:
for i in data:
    print(i)

10
20.5
5
PW
True
False
(1,2)
(5,6)
{"a":1}
None
46

#Que.5 Using a while loop,verify if the number A is purely divisible by number B and if so then how
many times it can be divisible.

In [ ]:
a = 20
b = 4

count = 0
temp = a

while temp >= b:
      temp -= b
      count += 1

if temp == 0:
    print(a,"is divisible by",b,"and can be divided",count,"times")
else:
    print(a,"is not divisible by",b)

In [ ]:
20 is dvisible by 4 and can be divided 5 times

In [ ]:
#Que.6 Create a list containing 25 int data type.Using for loop and if-else condition print if the 
element is divisible by 3 or not.

In [ ]:
#Answer

In [ ]:
numbers = list(range(1,26))
for num in numbers:
      if num % 3 == 0:
         print(num, "is divisible by 3")
      else:
         print(num,"is not divisible by 3")

In [ ]:
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [ ]:
#Que.7 What do you understand about immutable data type? Give example for both showing this property.

In [ ]:
#Answer

In [ ]:
#1.Mutable Data Types
Can be changed after creation
Example:List

#2. Immutable Data Types 
Cannot be changed after creation
Example:Tuple